.form-control1{
    box-sizing: border-box;
    font-size:x-large;
    color: white;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 45%;
    bottom: 48%;
    border-width: 4px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 12px;
    border-color: #7B72CC #DC0078 #3871D6;
    background-color: #000000;
}

.form-control2{
    box-sizing: border-box;
    font-size: x-large;
    color: white;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 55%;
    bottom: 38%;
    border-width: 4px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 12px;
    border-color: #7B72CC #DC0078 #3871D6;
    background-color: #000000;
}

button{
    box-sizing: border-box;
color:white ;
position: absolute;
left: 45%;
right: 45%;
top: 69%;
bottom: 25%;
background: #000000;
border-radius: 43.4766px;
border-color: #7B72CC #DC0078 #3871D6;
  }

  h2{
    color: white;
    position: absolute;
    left: 46%;
    top: 35%;
}